<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Red+Hat+Text:wght@700&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Red+Hat+Text:wght@700&display=swap"
      rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <%- include('partials/nav'); %> 
    </nav>

    <header>
        <section class="section-1">
          <%- include('partials/section-1'); %>
        </section>
        <section class="section-2">
          <%- include('partials/section-2'); %>
        </section>
        <section class="section-3">
          <%- include('partials/section-3'); %>
        </section>
        <section class="section-4">
          <%- include('partials/section-4'); %>
        </section>
    </header>

    <section class="section-email">
        <%- include('partials/section-email'); %>
    </section>

    <footer>
      <%- include('partials/footer'); %>
    </footer>
  </body>  
</html>




